[submodule "environments/zsh/antigen"]
	path = environments/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "environments/vim/.vim/vim-plug"]
	path = environments/vim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "environments/home/urxvt-font-size"]
	path = environments/home/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
